@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

/*****resolve td text too long********/
@media (max-width: 390px) {
  .td__textlong {
    min-width: 100%;
  }
}
/*************/
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
input {
    height: 2em;
    position: relative;
    padding-right: 13px;
    padding-left: 13px;
    min-width: 65px;
    border-radius: .2em;
    -webkit-transition-property: background-color,border-color,color;
    -moz-transition-property: background-color,border-color,color;
    transition-property: background-color,border-color,color;
    -webkit-transition-duration: 75ms;
    -moz-transition-duration: 75ms;
    transition-duration: 75ms;
    font-size: 17px;
    line-height: 24px;
    font-family: 'GT America',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2a2f35;
}
#root_content {
  /*background-color: red;*/
}
.flatbutton {
    background: #BE1D23;
  /*background: #34495E;*/

    display: inline-block;
    border: none;
    padding: 0;
    vertical-align: top;
    width: 120px;
    /*height: 42px;*/
    /*height: 2em;
    line-height: 41px;
    font-size: 15px;*/
    white-space: nowrap;
    color: #fff;
    text-align: center;
    text-transform: none;
    overflow: hidden;
    border-radius: .2em;
    -webkit-transition-property: background-color,color,border;
    -moz-transition-property: background-color,color,border;
    transition-property: background-color,color,border;
    -webkit-transition-duration: 75ms;
    -moz-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    cursor: pointer;
}
.rwd-table {
  /*background: #34495E;*/
  background: #BE1D23;

  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}
